<header>
    <nav>
        <a href="/">main</a>
        <ul>
            <li>
                <a href="/author">Authors</a>
            </li>
            <li>
                <a href="/author/new">Add authors</a>
            </li>
        </ul>
    </nav>
</header>